
Avanceret Programmering/Opgave 1/CostCalculator/.vs/CostCalculator/v16/Server/sqlite3/db.lock
Avanceret Programmering/Opgave 2 - BMI Application/BmiApplication/.vs/BmiApplication/v16/Server/sqlite3/db.lock
