
Avanceret Programmering/Opgave 1/CostCalculator/.vs/CostCalculator/v16/Server/sqlite3/db.lock
Avanceret Programmering/Opgave 2 - BMI Application/BmiApplication/.vs/BmiApplication/v16/Server/sqlite3/db.lock
Avanceret Programmering/Opgave 3 - Feet To Inches Converter/FeetToInchesApplication/.vs/FeetToInchesApplication/v16/Server/sqlite3/db.lock
Avanceret Programmering/Opgave 4 - Sum af multipla/ConsoleApplicationSumOf/.vs/ConsoleApplicationSumOf/v16/Server/sqlite3/db.lock
