.c-filter {
    display: none;
}

.show {
    display: block;
}

/* Style the buttons */
.btn {
    border-radius: 0;
    margin-bottom: 10px;
    color: #fac564;
    font-weight: 400;
    position: relative;
    display: inline-block;
    bordeR: 1px solid #fac564;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
}

.btn:hover {
    color: black;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fac564;
    border: 1px solid transparent;
}

.btn.active {
    background-color: #fac564;
    color: black;
}