
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BmiClient.Models.BmiRequestModel;

@{
    ViewData["Title"] = "Andersens Apotek";

}


<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                        <h2 class="h-ultra">Beregn din BMI her!</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <h4 class="h-light">Log ind  for at beregne dit <span class="color">BMI </span></h4>

                        }
                        else
                        {
                            <h4 class="h-light">Du kan nu beregne dit  <span class="color">BMI</span></h4>
                        }
                    </div>
                    <div class="well well-trans">
                        <div class="wow fadeInRight" data-wow-delay="0.1s">

                            <ul class="lead-list">
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Hvad står det for? </strong><br />BMI står for Body Mass Index. </span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Hvorfor?</strong><br />En BMI-test afslører, om du er overvægtig, normal eller for tynd.</span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Formel</strong><br />Ved at dividere kg med sin højde (i meter) i anden</span></li>
                            </ul>

                        </div>
                    </div>


                </div>

                @if (SignInManager.IsSignedIn(User))
                {

                    <div class="col-lg-6">
                        <div class="form-wrapper">
                            <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                                <div class="panel panel-skin">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><span class="fa fa-calculator"></span> Beregn dit BMI <small>(Det er gratis!)</small></h3>
                                    </div>
                                    <div class="panel-body">
                                        <form name="bmiForm" id="bmiForm" action="Post" class="lead">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>Vægt (I kilo)</label>
                                                        <input type="text" name="Weigth" id="weigth" class="form-control input-md" required="Du skal udfylde din vægt">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>Højde (I meter)</label>
                                                        <input type="text" name="Heigth" id="heigth" class="form-control input-md" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-skin btn-block btn-lg" id="calculateBmi">Vis resultat</button>
                                            <p></p>
                                            <h6 id="resultCompleted" style="color:green"></h6>
                                            <h6 id="resultErr" style="color:red"></h6>

                                            <p class="lead-footer">*Denne BMI gælder for voksne over 18 år – både mænd og kvinder - med en normal kropsbygning</p>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#calculateBmi").click(function (e) {
            document.getElementById("calculateBmi").innerHTML = "Beregner...";
            e.preventDefault();
            var settings = {
                url: '/Api/bmi',
                type: 'post',
                "content-Type": "application/json",
                data: $('#bmiForm').serialize(),
            }

            $.ajax(settings).done(function (resp) {
                document.getElementById("calculateBmi").innerHTML = "Vis resultat";
                console.log(resp);
                document.getElementById("resultCompleted").innerHTML = resp.text + " (Dit bmi er: " + resp.bmi + ")";
                document.getElementById("resultErr").innerHTML = "";


            }).fail(function (err) {
                document.getElementById("calculateBmi").innerHTML = "Prøv igen";

                console.log("Failed...");
                console.log(err);
                document.getElementById("resultErr").innerHTML = err.responseText;
                document.getElementById("resultCompleted").innerHTML = "";

            });
        });

    });
</script>